<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sys="">
<head>
    <meta charset="UTF-8">
    <title>from demo</title>
</head>
<body>
    <h3>login tasktool system</h3>
    <form>
        <input type="hidden" name="key" th:value="${key}">
        <input type="text" name="username" th:value="${account.username}"><samp th:text="${error}"></samp>

        <br/>
        <input type="password" name="password" th:value="${account.password}">
        <br/>

        <select name="sysStatus">
            <option value="">选择状态</option>
            <option th:each="status, start : ${sysStatus}"
                    th:selected="${account.status} == ${status.dictValue}"
                    th:value="${status.dictValue}"
                    th:text="${status.dictLabel}"></option>
        </select>
        <br/>
        <sys:dict type="DISEASES_OPTION" name="sys_status" th:value="${account.status}" class="myDictSelect" />
        <br/>
        <sys:dict type="DISEASES_OPTION" name="sys_yes_no" class="myDictSelect" fastOptionValue="100" fastOptionName="请选择是或否"/>
        <br/>
        <input type="radio" name="aihao" value="单人运动">
        <input type="radio" name="aihao" value="多人运动">
        <input type="radio" name="aihao" value="唱">
        <input type="radio" name="aihao" value="跳">
        <input type="radio" name="aihao" value="rap">

        <br/>
        <sys:radio type="DISEASES_OPTION" name="sys_yes_no" class="myRadio"/>
        <input type="button" onclick="login()" value="login"></input>
    </form>

    <a href="/account/register">register new account</a>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="/static/js/crypto-js-4.0.0/crypto-js.js"></script>
    <script>
        function login(){
            var $key = $('input[name="key"]').val();
            var $userName = $('input[name="username"]').val();
            var $password = $('input[name="password"]').val();
            // var $verifyCode = $('input[name="verifyCode"]').val();
//            console.log($userName + ",  " + $password + ", " + $verifyCode + ", " + $key);
            if ($userName == "" || $password == "" ) {
                alert("用户名、密码、验证码不能为空！");
                return false;
            }

            var key = CryptoJS.enc.Utf8.parse($key);
            console.log("key:" + key + ",$key:" + $key);
            var password = CryptoJS.enc.Utf8.parse($password);
            var encrypted = CryptoJS.AES.encrypt(password, key, {mode: CryptoJS.mode.ECB, padding: CryptoJS.pad.Pkcs7});
            var encryptedPwd = encrypted.toString();

           console.log("encrypted:" + encrypted);
           console.log("encryptedPwd:" + encryptedPwd);
           {// 解密方法
                var decrypt = CryptoJS.AES.decrypt(encryptedPwd, key, {
                    mode: CryptoJS.mode.ECB,
                    padding: CryptoJS.pad.Pkcs7
                });
                var testDecryptStr = CryptoJS.enc.Utf8.stringify(decrypt).toString();

               console.log("decrypt:" + decrypt);
               console.log("testDecryptStr:" + testDecryptStr);
            }

            $.ajax({
                type: "post",
                url: "/doLogin",
                data: {
                    username: $userName,
                    password: encryptedPwd,
                    key: $key
                },
                dataType: "json",
                success: function (result) {
                   console.log(result);
                    if(result.status == 1)
                    {
                        window.location.href='welcome';
                    }
                    else
                    {
                        alert(result.massage);
                    }
//                    window.location.replace(result.url);
//                    $('#container').load(result.url);
                },
                error: function (result) {
//                        console.log(result);
                    alert(result.massage);
                }
            });
        }

    </script>
</body>
</html>