<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login tasktool system</title>
</head>
<body>
    <h3>login tasktool system</h3>
    <form>
        <input type="text" name="username" th:value="${account.username}"><samp th:text="${error}"></samp>
        <br/>
        <input type="password" name="password" th:value="${account.password}">
        <br/>
        <input type="button" onclick="login2()" value="login"></input>
    </form>

    <a href="/account/register">register new account</a>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="/static/js/crypto-js-4.0.0/crypto-js.js"></script>
    <script src="/static/js/jsencrypt-master/bin/jsencrypt.js"></script>
    <script src="/static/js/security.js"></script>
    <script>
        function login2(){
            var $userName = $('input[name="username"]').val();
            var $password = $('input[name="password"]').val();
            if ($userName == "" || $password == "" ) {
                alert("用户名、密码、验证码不能为空！");
                return false;
            }

            var encryptedPwd = aesEncrypt($password);

            $.ajax({
                type: "post",
                url: "/doLogin",
                data: {
                    username: $userName,
                    password: encryptedPwd
                },
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    if(result.status == 1)
                    {
                        window.location.href='welcome';
                    }
                    else
                    {
                        alert(result.massage);
                    }
//                    window.location.replace(result.url);
//                    $('#container').load(result.url);
                },
                error: function (result) {
//                        console.log(result);
                    alert(result.massage);
                }
            });
        }
    </script>
</body>
</html>