<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chain Responsive Bootstrap3 Admin</title>
    <link href="/static/layui/css/layui.css"/>
    <link href="/static/css/style.default.css" rel="stylesheet">
    <link href="/static/css/morris.css" rel="stylesheet">
    <link href="/static/css/select2.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
    <style>
        #main_content{
            width: 100%;
            height: 100%;
        }

        #page_tab_div {
            width: 100%;
            padding: 10px;
            background-color: #f7f7f7;
        }
        #page_tab_div .page-tab{
            margin: 2px;
            padding: 5px;
            border: 1px solid #e4e4e4;
            border-radius:3px;
        }
        #page_tab_div .page-tab a{
            margin-left: 15px;
        }
    </style>
</head>

<body>
<div id="main_content">
    <header>
        <div th:replace="layout/header"></div>
    </header>

    <section>
        <div id="main_wrapper" class="mainwrapper">
            <div th:replace="layout/leftNav"></div>

            <div id="main_panel" class="mainpanel" style="position:relative">
                <div id="page_tab_div">
                    <span id="show-left-page-btn" style="float: left; margin-right: 5px; display: none;">
                        <a href="#" onclick="showLeftTab(3)"><i class="glyphicon glyphicon-chevron-left"></i></a> </span>
                    <span id="tab_list">
                        <!--<span class="page-tab" id="page-tab-0">-->
                        <!--<span class="page_title">首页</span><a href="#" ><i class="glyphicon glyphicon-remove"></i></a>-->
                        <!--</span>-->
                    </span>

                    <span id="show-right-page-btn" style="float: right; margin-left: 5px; display:none"><i class="glyphicon glyphicon-chevron-right"></i> </span>
                </div>
                <div id="page_body">
                    <!--<div class="page_body_0">-->
                    <!--<iframe id="iframe_0"  name="iframe_0" style="width: 100%" frameborder="0" src="/renwuXinxi/toAddRenwu">-->
                    <!--</iframe>-->
                    <!--</div>-->
                </div>


            </div><!-- mainpanel -->
        </div><!-- mainwrapper -->
    </section>
</div>

<script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/js/jquery.cookies.js"></script>
<script src="/static/js/jquery.sparkline.min.js"></script>

<!--<script src="/static/js/flot/jquery.flot.min.js"></script>-->
<!--<script src="/static/js/flot/jquery.flot.resize.min.js"></script>-->
<!--<script src="/static/js/flot/jquery.flot.spline.min.js"></script>-->

<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/modernizr.min.js"></script>
<script src="/static/js/pace.min.js"></script>
<script src="/static/js/retina.min.js"></script>

<!--<script src="/static/js/morris.min.js"></script>-->
<!--<script src="/static/js/raphael-2.1.0.min.js"></script>-->
<!--<script src="/static/js/bootstrap-wizard.min.js"></script>-->
<!--<script src="/static/js/select2.min.js"></script>-->

<script src="/static/js/custom.js"></script>
<script src="/static/js/dashboard.js"></script>

<script src="/static/js/crypto-js-4.0.0/crypto-js.js"></script>
<script src="/static/js/jsencrypt-master/bin/jsencrypt.js"></script>
<script src="/static/js/security.js"></script>

<script src="/static/layui/layui.js"></script>

<script src="/static/modules/js/main/main.js"></script>
</body>
</html>
